:root {
    --color-light: #f8f9fa;
    --color-primary: #0d6efd;
    --color-success: #198754;
    --color-danger: #dc3545;
    --color-black: #000;
    --color-white: #fff;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 75vh;
}

.todo-item {
    position: relative;
}

.delete-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.emptyListMsg {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.bg-img {
    opacity: 0.7;
}
